.work {
    padding: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: yellow;
}
.container {
    margin: 10px auto;
    width: 74rem;
    display: flex;
    flex: 1;
}
.cards {
    text-align: center;
    padding: 1.3rem;
}
section div img {
    width: 20%;
    background-color: yellow;
    padding: 0.4rem;
    border-radius: 4rem;
}
.addfont {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.im1{
    width: 23%;
}
.im3{
    width: 21%;
}