header {
    background-image: url("../../../public/Images/aritra_img.jpg");
    height: 94vh;
    background-position: center;
    background-size: cover;
}
header {
    display: block;
}
header div {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.t1 {
    text-decoration: none;
    font-size: 4rem;
    margin: 1rem;
}
.t2 {
    font-size: 1.2rem;
    margin: 1rem;
}
.btn {
    background-color: yellow;
    color: black;
    padding: 0.7rem;
    border: none;
}