section {
    display: block;
}
h3 {
    padding: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: yellow;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.yt {
    padding: 1rem;
    width: 120%;
}
